<div class="dashboard-main-wrapper">
    <!-- Adionando nav partials -->
    {{>_navDashboard}}
    <!-- Fim nav partials -->
    {{>_sidebarDashboard}}

    <div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Aperitivos cadastrados</h2>
                        <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit
                            amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Forms</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Form Validations</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->
                {{>_msg}}
            <div class="row">
                <!-- ============================================================== -->
                <!-- basic table -->
                <!-- ============================================================== -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Estoque</h5>
                            <a href="/estoque/produto"><button class="btn btn-outline-success">Cadastrar</button></a>                            
                        </div>
                        <div class="card-body">
                            {{#each produtos}}
                            <form action="/estoque/edit" method="post">                 
                            <div class="row">
                                <div class="group col-12">
                                    <p><strong>Nome: </strong>{{dataValues.nome}}</p>
                                </div>
                                <div class="group col-12">
                                    <p> <strong>Marca: </strong>{{dataValues.marca}} </p>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="group col-12">
                                    <p><strong>Descrição: </strong> {{dataValues.desc}}</p>
                                </div>
                                 <div class="group col-12">
                                    <p><strong>Validade: </strong>{{dataValues.validade}}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="group col-12">
                                    <p><strong>Quantidade: </strong>{{dataValues.quantidade}}{{dataValues.uniMedida}}
                                    </p>
                                </div>                               
                                <div class="group col-12">
                                    <p><strong>Valor: </strong>{{dataValues.valor}}
                                    </p>
                                </div>
                                <a class="col-12 mt-2"><button class="btn btn-outline-info col-12">Editar</button></a>
                                </form>       
                                <a href="/estoque/delete" class="col-12 mt-2"><button class="btn btn-outline-danger col-12">Deletar</button></a>
                            </div>
                            <hr>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end basic table -->
                <!-- ============================================================== -->