<div class="dashboard-main-wrapper">
    <!-- Adionando nav partials -->
    {{>_navDashboard}}
    <!-- Fim nav partials -->
    {{>_sidebarDashboard}}

    <div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Hot-Dog cadastrados</h2>
                        <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit
                            amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Forms</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Form Validations</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            {{>_msg}}
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->

            <div class="row">
                <!-- ============================================================== -->
                <!-- basic table -->
                <!-- ============================================================== -->
                <div class="col-xl-12 col-lg-2 col-md-2 col-sm-6 col-60">
                    <div class="card">
                        <h5 class="card-header">Hot-Dog Cadastrados</h5>
                        <div class=" card-header">
                            <a href="/hotdog/add"><button class="btn btn-outline-success">Cadastrar Hot-Dog</button></a>
                        </div>

                        <div class="card-body">
                            {{#each hotdog}}
                            <form action="/hotdog/edit" method="post">
                                <div class="row">
                                    <div class="group col-12">
                                        <p><strong>Nome: </strong>{{dataValues.nome}}</p>
                                    </div>
                                    <div class="group col-12">
                                        <p><strong>Descrição: </strong> {{dataValues.desc}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="group col-12">
                                        <p><strong>Valor: </strong>R$ {{dataValues.valorVendido}}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="group col-12">
                                        <p><strong>Valor Gasto: </strong>R$ {{dataValues.valorGasto}}
                                        </p>
                                    </div>
                                    <div class="group col-12">
                                        <p><strong>Lucro: </strong>{{lucro}}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <a class="col-12 mt-2">
                                        <button class="btn btn-outline-info col-12">Editar</button>
                                    </a>
                                </div>
                            </form>
                            <form action="/hotdog/delete" method="post">
                                <div class="row mt-2">
                                    <a class="col-12 mt-2">
                                        <button class="btn btn-outline-danger col-12">Deletar</button>
                                    </a>
                                </div>
                            </form>

                        </div>
                        <hr>
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end basic table -->
            <!-- ============================================================== -->